<div class="general_parent">
    <div class="sign_Up_Registration placed_right">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 admin_formate">
            <label class="label_caption">Administrator's Page: Please register..</label>
            <div class="alert_success" id="alert_success"></div>
            <form class="form" name="admin_sign_Up" id="admin_sign_Up">
                <div class="form-group">
                    <label for="username" class="label__">Admin User Name*</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="email"class="label__">Admin Email*</label>
                    <input type="email" class="form-control" name="email" id="email">
                </div>
                 <div class="form-group">
                    <label for="password"class="label__">Admin Password*</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
                <div class="form-group">
                    <label for="contact"class="label__">Admin Contact*</label>
                    <input type="text" name="contact" class="form-control" id="contact">
                </div>
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Register</button>
            </form>
            <div class="row __6t">
                <div class="small_series">
                    <small><h6 class="first_6">allready has an accout</h6></small>
                </div>
                <a href="/admin/adminLogin"><div class="h_series">
                    <h5 class="h__">Sign In</h5>
                </div><a/>
            </div>  
         </div>
    </div>
</div>